.company-aadhar-conatiner {
    width: 100%;
    color: #fff;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #051e3f;
    display: flex !important;
    flex-direction: column !important;
  }
  .container-aadhar-heading {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e04f;
  }
  .container-aadhar-heading h1 {
    color: #fff;
    font-weight: 700;
  }